body {
  font-family: var(--font-body);
  font-size: var(--fs-base);
  line-height: var(--lh-base);
  color: var(--foreground);
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  font-weight: var(--fw-bold);
  line-height: var(--lh-heading);
}

:focus-visible {
  position: relative;
  outline: none;
}

:focus-visible::after {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: inherit;
  border: calc(var(--border-width) * 2) solid var(--primary);
}
