:root {
  /* Fonts */
  --font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-header: var(--font-body);

  /* Font sizes */
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-md: 1.125rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 2rem;
  --fs-3xl: 3rem;

  /* Line heights */
  --lh-tight: 1.25;
  --lh-base: 1.5;
  --lh-relaxed: 1.625;
  --lh-heading: 1.2;

  /* Font weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

@media (max-width: 475px) and (max-height: 600px) {
  :root {
    --fs-xs: 0.625rem;
    --fs-sm: 0.7rem;
    --fs-base: 0.875rem;
    --fs-md: 1rem;
    --fs-lg: 1.125rem;
    --fs-xl: 1.25rem;
    --fs-2xl: 1.5rem;
    --fs-3xl: 2.25rem;

    /* Line heights */
    --lh-tight: 1.15;
    --lh-base: 1.3;
    --lh-relaxed: 1.5;
    --lh-heading: 1.1;
  }
}
